/*form*/

h3 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

input,
select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button:hover {
  background-color: #3b7e3e;
}

.squareSideLengthContainer {
  margin-top: 20px;
}

.circleRadiusContainer {
  margin-top: 20px;
}

.canvasDimensionsContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

/*Coordinate Calculator*/
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.shape-info,
.canvas-info,
.coordinates {
  margin-bottom: 10px;
}

.shape-info b,
.canvas-info b,
.coordinates b {
  font-weight: bold;
}

/* .button {
  padding: 10px 20px;
  background-color: #ccc;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
} */

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/*table*/
.table-container {
  /* max-width: 800px; */
  /* margin: 0 auto; */
  overflow-x: scroll;
  scrollbar-width: thin;
}

.thead {
  background-color: #3b7e3e;
}

.trhead th {
  background-color: #3b7e3e;

  font-weight: bold;
}

.th {
  font-weight: bold;
  color: white;
  text-align: center;
  border: 1px solid #ccc;
}

/* Custom Data Table */

.custom-scrollable-div {
  /* width: max-content; */
  min-width: 100px;
  max-height: 30rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-right: 0; /* Added to prevent content from being hidden behind the scrollbar */
}

/*Data vis*/
.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 370px;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.button-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #45a049;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  width: 100%;
}

.active-button {
  padding: 10px 20px;
  background-color: white;
  outline: 1px solid #45a049;
  color: black;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  width: 100%;
}

.coordinate-table-wrapper {
  margin-bottom: 20px;
}

.coordinate-table-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.coordinate-content {
  width: 100%;
  margin-bottom: 20px;
}

.coordinate-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.chart-container {
  border: 1px solid #ccc;
  /* padding: 10px; */
}

.data-visualization-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.data-table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* width: 40%; */
}

tbody {
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  text-align: center;
}
